---
import home from '/svg/home.svg'
import shop from '/svg/shop.svg'
---

<div class="relative flex-col z-10 w-12 h-screen bg-slate-50 pt-4">
  <nav class="sidebar mt-12 fixed top-0 left-0 min-h-full bg-slate-50 pt-4">
    <ul>
      <li class="mx-1 mb-2"><a href="/"><img class="w-10" src={home} /></a></li>
      <li class="mx-1 mb-2"><a href="/ingredients"><img class="w-10" src={shop} /></a></li>
    </ul>
  </nav>

  <!-- <div class="main-content">
    <h1>Bienvenido</h1>
    <p>Este es el contenido principal de la página.</p>
  </div> -->
</div>
